header {
  position: relative;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 34px;
  z-index: 999;
}
@media screen and (max-width: 960px) {
  header .container {
    padding-block: 24px;
  }
}
header .container-truck {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
}
header .container-truck svg path {
  fill: #000;
}
header .truck {
  animation: move-truck 10s linear infinite;
}
@keyframes move-truck {
  0% {
    opacity: 0.8;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(1440px);
  }
}
header .list-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
}
header .list-actions li {
  width: 32px;
  height: 32px;
  background-color: #FF7A00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
header .list-actions li.cart {
  margin-right: 32px;
}
@media screen and (max-width: 960px) {
  header .list-actions li.cart {
    margin-right: 12px;
  }
}
@media screen and (max-width: 960px) {
  header .list-actions li.account {
    display: none;
  }
}
header .list-actions .qnt {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 65%;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #FF7A00;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
header .navbar-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  header .navbar-mobile {
    display: flex;
  }
}

.navbar ul {
  display: flex;
}
.navbar__item {
  margin-inline: 50px;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__item a {
  font-size: 18px;
  color: #000;
}
.navbar__item.active a {
  color: #FF7A00;
}

.header-right {
  display: flex;
}

@media screen and (max-width: 960px) {
  .container.navbar-desktop {
    display: none;
  }
}

.navbar-mobile .logo-mobile svg {
  width: 96px;
}

.menu-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .menu-mobile {
    display: flex;
    position: fixed;
    top: 0px;
    right: -100%;
    background-color: #FF7A00;
    height: 100vh;
    width: 69%;
    transition: 0.7s ease;
  }
  .menu-mobile.menu-active {
    right: 0;
  }
  .menu-mobile .btn-close {
    position: absolute;
    top: 8px;
    left: -25px;
    background-color: #FF7A00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-mobile .btn-close svg {
    fill: #fff;
  }
  .menu-mobile ul {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px;
  }
  .menu-mobile ul .logo {
    width: 72px;
    height: 50px;
  }
  .menu-mobile ul a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
  }
  .menu-mobile ul a::after {
    content: "";
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 0;
    position: absolute;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .menu-mobile ul a:hover::after {
    width: 100%;
  }
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero__content {
  width: 50%;
  max-width: 530px;
}
.hero__content h1 {
  color: #202020;
  font-family: "Rockinsoda";
  font-weight: 500;
  font-size: 150px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.hero__content h1 span {
  color: #FF7A00;
}
@media screen and (max-width: 960px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero__content {
    width: 100%;
  }
  .hero__content h1 {
    font-size: 72px;
    margin-bottom: 32px;
  }
}
.hero__img {
  width: 50%;
}
@media screen and (max-width: 960px) {
  .hero__img {
    width: 100%;
  }
}

.btn-call {
  background-color: #FF7A00;
  padding: 16px 40px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn-call:hover {
  background-color: #e87103;
}
@media screen and (max-width: 960px) {
  .btn-call {
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 8px 16px;
    font-size: 16px;
  }
  .btn-call svg {
    width: 20px;
  }
}

.section__new {
  background-color: #FF7A00;
  display: flex;
}
.section__new .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 960px) {
  .section__new .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.section__new__content {
  max-width: 428px;
  margin-right: 72px;
  padding-bottom: 40px;
  color: #fff;
  border-bottom: 1px dashed #fff;
}
.section__new__content h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
.section__new__input {
  position: relative;
}
.section__new__input input {
  width: 800px;
  height: 100px;
  border: none;
  border-radius: 50px;
  outline: none;
  padding: 32px 118px;
  color: #454545;
  font-size: 24px;
}
.section__new__input input::-moz-placeholder {
  color: #454545;
  font-size: 24px;
}
.section__new__input input::placeholder {
  color: #454545;
  font-size: 24px;
}
@media screen and (max-width: 960px) {
  .section__new__input input {
    width: 100%;
    height: 50px;
    padding: 8px 24px;
    margin-top: 24px;
  }
  .section__new__input input::-moz-placeholder {
    font-size: 14px;
  }
  .section__new__input input::placeholder {
    font-size: 14px;
  }
}
.section__new__input button {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 24px;
  color: #fff;
  background-color: #202020;
  font-size: 500;
  height: 100px;
  border-radius: 50px;
  padding: 32px 118px;
}
@media screen and (max-width: 960px) {
  .section__new__input button {
    height: 50px;
    padding: 8px 16px;
    margin-top: 24px;
  }
}

.section__service .container {
  display: flex;
  align-items: center;
  justify-content: justify-between;
  gap: 240px;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .section__service .container {
    flex-direction: column;
    gap: 32px;
  }
}
.section__service .service__img {
  width: 50%;
}
@media screen and (max-width: 960px) {
  .section__service .service__img {
    width: 100%;
  }
}
.section__service .service__content {
  width: 50%;
  max-width: 540px;
}
.section__service .service__content .title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section__service .service__content .title h2 {
  font-family: "Rockinsoda";
  font-size: 72px;
  font-weight: 500;
}
.section__service .service__content .title h2 span {
  color: #FF7A00;
}
@media screen and (max-width: 960px) {
  .section__service .service__content {
    width: 100%;
  }
  .section__service .service__content .title h2 {
    font-size: 48px;
    margin-bottom: 12px;
  }
}

.cards .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .cards__list {
  display: flex;
  gap: 72px;
}
@media screen and (max-width: 960px) {
  .cards .cards__list {
    flex-direction: column;
    gap: 32px;
  }
}
.cards .cards__list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards .cards__list .item h4 {
  font-size: 24px;
  font-weight: 500;
  color: #202020;
  margin-block: 20px 4px;
}

.swiper {
  width: 100%;
  padding-block: 50px;
}
.swiper h2 {
  font-size: 48px;
  font-weight: 600;
  color: #FF7A00;
  text-align: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 960px) {
  .swiper {
    padding-block: 0;
  }
  .swiper h2 {
    margin-bottom: 32px;
  }
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 694px;
}
@media screen and (max-width: 960px) {
  .swiper-slide {
    width: 250px;
    height: 300px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
}

footer {
  background-color: #FF7A00;
}
@media screen and (max-width: 960px) {
  footer {
    border-radius: 30px 30px 0px 0px;
  }
}
footer .container {
  display: flex;
  gap: 32px;
}
footer .container h4 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
  color: #202020;
}
footer .container li a {
  font-size: 14px;
  color: #202020;
}
footer .redes-sociais ul {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 960px) {
  footer .logo svg {
    width: 128px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .accordion {
    position: relative;
  }
  footer .container ul.accordion-content {
    height: 0px;
    overflow: hidden;
    transition: 0.3s ease;
  }
  footer button.button-accordion h4::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/chevron.svg");
    background-repeat: no-repeat;
    transition: 0.3s ease;
  }
  footer button.button-accordion h4.active::after {
    transform: rotate(-180deg);
  }
  footer svg {
    width: 32px;
    height: 32px;
    margin-inline: 12px;
  }
}
footer button.button-accordion {
  width: 100%;
  display: flex;
}

@font-face {
  font-family: "Rockinsoda";
  src: url("../font/Rockinsoda.ttf") format("truetype");
}
body {
  font-family: "Poppins", sans-serif;
}

.border {
  border: 1px solid red;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 72px 24px;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    width: 100vw;
    padding: 48px 24px;
    overflow: hidden;
  }
}

.description {
  font-size: 30px;
  color: #202020;
}
@media screen and (max-width: 960px) {
  .description {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */